@charset "utf-8";

/* 
	@名称: base
	@功能: 重设浏览器默认样式
*/

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html{
	color:#000;background:#fff;
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	margin:0;padding:0;
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { 
    display:block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio,canvas,video {
    display: inline-block;*display: inline;*zoom: 1;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea{
	font:12px/1.5 tahoma,arial,\5b8b\4f53;
}
input,select,textarea{
	font-size:100%;
}

/* 去掉各Table  cell 的边距并让其边重合 */
table{
	border-collapse:collapse;border-spacing:0;
}

/* IE bug fixed: th 不继承 text-align*/
th{
	text-align:inherit;
}

/* 去除默认边框 */
fieldset,img{
	border:0;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe{
	display:block;
}

/* 去掉 firefox 下此元素的边框 */
abbr,acronym{
	border:0;font-variant:normal;
}

/* 一致的 del 样式 */
del {
	text-decoration:line-through;
}

address,caption,cite,code,dfn,em,th,var {
	font-style:normal;
	font-weight:500;
}

/* 去掉列表前的标识, li 会继承 */
ol,ul {
	list-style:none;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th {
	text-align:left;
}

/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:500;
}

q:before,q:after {
	content:'';
}

/* 统一上标和下标 */
sub, sup {
    font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;
}
sup {top: -0.5em;}
sub {bottom: -0.25em;}



/* 让链接在 hover 状态下显示下划线 */
a:hover {
	text-decoration:underline;
}

/* 默认不显示下划线，保持页面简洁 */
ins,a {
	text-decoration:none;
}

/* 清理浮动 */
.fn-clear:after {
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
}
.fn-clear {
	zoom:1; /* for IE6 IE7 */
}

/* 隐藏, 通常用来与 JS 配合 */
body .fn-hide {
	display:none;
}

/* 设置内联, 减少浮动带来的bug */
.fn-left,.fn-right {
	display:inline;
}
.fn-left {
	float:left;
}
.fn-right {
	float:right;
}


.tablesolid { border-right:1px solid #f0f0f0; border-top:1px solid #f0f0f0; }
.tablesolid>tbody>tr>td { border-left:1px solid #f0f0f0; border-bottom:1px solid #f0f0f0; }

td.header { padding:0px 10px; background:#f5f5f5; text-align:right; vertical-align:top}

/******** 用户信息条 ********/
.info_bar{position:absolute;top:0px;right:15px; height:35px; line-height:35px; border:solid 0px #f0f0f0;}
.info_bar span{color:#999;}
.info_bar a{font-weight:bold;}

.userico{position:absolute; top:1px; left:-40px; vertical-align:middle; margin-right:10px;width:30px;height:30px;border:1px solid #999; cursor:pointer;}

.userinfo_list{ display:none; position:absolute; top:1px; left:-253px; z-index:2; width:200px; padding:5px; border:1px solid #000; background:#fff; cursor:pointer;}
.userinfo_list ul{height:22px;}
.userinfo_list ul span{font-weight:bold;}

/******** 按钮 *********/
a.bt_menu{display:block;margin:3px;padding:5px; font-weight:bold; color:#555; border:1px solid #999;background:#ddd url(/images/bar_bg.jpg);}
a.bt_menu:hover {border:1px solid #000;}
a.bt_menu img{width:16px; height:16px; vertical-align:middle;}
a.curmenu { background:#1a4bfe url(/images/bar_bg.jpg) 0px -35px;  border:1px solid #000; color:#f0f0f0; font-weight:bold;}

/******** 框架左栏滑动按钮 *********/
.frame_slide{vertical-align:middle; width:10px; padding:0px;cursor:pointer; background:#f5f5f5;}
.frame_slide .bt_slideleft{ width:10px;height:50px;cursor:pointer; border:1px solid #ddd; background:#ddd url(/images/bt_slide.jpg) }
.frame_slide .bt_slideright{ width:10px;height:50px;cursor:pointer; border:1px solid #ddd; background:#ddd url(/images/bt_slide.jpg) -10px 0px; }


/******** 顶部工具条 *********/
.list_top_bar{height:24px; padding:5px 10px; border-bottom:1px solid #f0f0f0;}
.list_top_title { float:left; height:22px; line-height:22px; margin-right:50px;}
.list_top_tools{ float:right; vertical-align:middle; height:22px; }
.list_top_tools a.item{ display:block; float:left; vertical-align:middle; padding:2px 5px; margin:0px 2px; border:1px solid #aaa; background:url(/images/bar_bg.jpg) }
.list_top_tools a.item:hover{ border:1px solid #666; background-image:none; background-color:#fff; }
.list_top_tools a.item img{vertical-align:middle;}

/******** 业务单日志列表 *********/
.logitem{width:800px;}
.logitem .ico{float:left;width:50px; height:80px;}
.logitem .ico img {width:50px; height:50px;border:1px solid #666;}
.logitem .ico .txt {width:50px; height:22px; line-height:22px; font-weight:bold; text-align:center; overflow:hidden;}
.logitem .pl{float:left; position:relative; width:16px; height:50px;}
.logitem .pl .pl_img{position:absolute; top:10px; left:2px; width:15px;height:12px;background:url(/images/log_pointer.jpg) 0px 0px no-repeat;}
.logitem .content{float:left; width:550px; border:1px solid #666; padding:5px; overflow:hidden;}
.logitem .content .ldate{color:#ccc; border-bottom:1px #eee dashed; margin-bottom:10px;}
.logitem .logtoolbar{ width:625px; text-align:right; margin-bottom:15px;}

.logreply{width:705px;}
.logreply .item{width:705px; margin:10px 5px;}
.logreply .ico{float:right;width:50px; height:80px;}
.logreply .ico img {width:50px; height:50px;}
.logreply .ico .txt {width:50px; height:22px; line-height:22px; font-weight:bold; text-align:center; overflow:hidden;}
.logreply .pr{float:right; position:relative; width:16px; height:50px;}
.logreply .pr .pr_img{position:absolute; top:10px; left:-2px; width:15px;height:12px;background:url(/images/log_pointer.jpg) -15px 0px no-repeat;}
.logreply .content{float:right; width:570px; border:1px solid #ccc; padding:5px; overflow:hidden;}
.logreply .content .rdate{color:#ccc; border-bottom:1px #eee dashed; margin-bottom:10px;}